.main{
    margin: auto;
    width: 960px;
}
h1{
    text-align: center;
    color:brown;
}
.info{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

.info ul{
    align-self: center;
}
.perfil{
    display: flex;
    align-self: flex-end;
    justify-content: center;
}
.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.estudios p{
    align-self: flex-start;
}
img{
    width: 232px;
}